<% if @message %>
<div class="mt-5 text-center">
  <div class="alert alert-success"><%= @message %></div>
</div>
<% end %>
<div class="mt-5">
  <div class="text-center">
    <% if Helpers.current_user(session) == @yawdsale.user %>
      <a href="/yawdsales/<%= @yawdsale.id %>/edit" class="btn btn-outline-success">Edit Yawdsale</a>
      <a href="/yawdsales/<%= @yawdsale.id %>/photos/edit" class="btn btn-outline-secondary">Update Photos</a>
    <% end %>
    <div class="card border-light mt-4">
      <div class="card-body">
        <h2 class="card-title"><%= @yawdsale.title if @yawdsale.title %></h2>
        <h5 class="card-subtitle mb-2 text-muted"><%= @yawdsale.address if @yawdsale.address %></h5>
        <p class="card-text">Begins: <%= @yawdsale.start_time.strftime("%A, %B %d, %Y - %I:%M%P")%></p>
        <p class="card-text">Ends: <%= @yawdsale.end_time.strftime("%A, %B %d, %Y - %I:%M%P")%></p>
        <p><%= @yawdsale.description if @yawdsale.description %></p>
        <p>Host: <a href="/users/<%= @yawdsale.user_id %>"><%= @yawdsale.user.email_address %></a></p>
        <div class="card-body">
          <div class="row">
            <% @yawdsale.photos.each do |photo| %>
              <div class="col-sm">
                <a href="/yawdsales/<%= @yawdsale.id %>/photos/<%= photo.id %>"><img style="width: 100%;" src="/yawdsales/<%= @yawdsale.id %>/photos/<%= photo.id %>"></a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="card-body text-muted">
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= File.read('./../apikey.txt') %>
              &q=<%= @yawdsale.latitude %>, <%= @yawdsale.longitude %>" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
