<div class="mt-5">
  <div class="text-center">
    <% if Helpers.current_user(session) == @yawdsale.user %>
      <a href="/yawdsales/<%= @yawdsale.id %>/edit" class="btn btn-outline-light bg-success">Edit Yawdsale</a>
    <% end %>
    <div class="mt-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= @yawdsale.title if @yawdsale.title %></h5>
          <p class="card-text">
          <p><%= @yawdsale.description if @yawdsale.description %></p>
          <p><%= @yawdsale.address if @yawdsale.address %></p>
          <p>Begins: <%= @yawdsale.start_time.strftime("%A, %B %d, %Y - %I:%M%P") if @yawdsale.start_time %></p>
          <p>Ends: <%= @yawdsale.end_time.strftime("%A, %B %d, %Y - %I:%M%P") if @yawdsale.end_time %></p>
          <p>Host: <a href="/users/<%= @yawdsale.user_id %>"><%= @yawdsale.user.email_address %></a></p><br>
          <div class="card-body">
            <div class="row">
              <% @yawdsale.photos.each do |photo| %>
                <div class="col-sm">
                  <a href="/yawdsales/<%= @yawdsale.id %>/photos/<%= photo.id %>"><img style="width: 100%;" src="/<%= @yawdsale.id %>/photos/<%= photo.filename %>"></a>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-body text-muted">
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=<%= File.read('./../apikey.txt') %>
                &q=<%= @yawdsale.latitude %>, <%= @yawdsale.longitude %>" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
