<div class="mt-5">
  <% if @message %>
  <div class="text-center alert alert-danger"><%= @message %></div>
  <% end %>

  <h2 class="mb-4 text-center">Create your Yawdsale Account</h2>
  <form class="text-left pb-5" action="/users" method="post">

    <div class="form-group row">
      <label for="email_address" class="col-2 col-form-label">Email: </label>
      <div class="col-10">
        <input class="form-control" type="email" name="email_address" id="email_address" value="<%= @params[:email_address] if @params %>" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-2 col-form-label">Password: </label>
      <div class="col-10">
        <input class="form-control" type="password" name="password" id="password" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="first_name" class="col-2 col-form-label">First Name: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="first_name" id="first_name" value="<%= @params[:first_name] if @params %>"  required>
      </div>
    </div>
    <div class="form-group row">
      <label for="last_name" class="col-2 col-form-label">Last Name:</label>
      <div class="col-10">
        <input class="form-control" type="text" name="last_name" id="last_name" value="<%= @params[:last_name] if @params %>"  required>
      </div>
    </div>
    <div class="form-group row">
      <label for="street_address" class="col-2 col-form-label">Street Address: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="street_address" id="street_address" value="<%= @params[:street_address] if @params %>"  required>
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-2 col-form-label">City/Town: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="city" id="city" value="<%= @params[:city] if @params %>"  required>
      </div>
    </div>
    <div class="form-group row">
      <label for="state" class="col-2 col-form-label">State: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="state" id="state" value="<%= @params[:state] if @params %>"  required>
      </div>
    </div>
    <div class="form-group row">
      <label for="zipcode" class="col-2 col-form-label">Zip Code: </label>
      <div class="col-10">
        <input class="form-control" type="text" name="zipcode" id="zipcode" value="<%= @params[:zipcode] if @params %>"  required>
      </div>
    </div>
    <div class="text-center">
      <p class="mt-4">All fields required.</p>
      <input type="submit" value="Sign Up" class="btn btn-success"></input>
    </div>
  </form>
</div>
