<div class="mt-5 text-center">

  <p style="color: red;"><%= flash[:message] %></p>

  <form class="text-center pb-5" action="/users" method="post">
    <input type="hidden" name="_method" value="patch"></input>
    <h2 class="mb-4">Update Profile</h2>
    <div class="form-group row">
      <label for="email_address" class="col-2 col-form-label">Email: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.email_address %>" name="email_address" id="email_address">
      </div>
    </div>
    <div class="form-group row">
      <label for="first_name" class="col-2 col-form-label">First Name: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.first_name %>" name="first_name" id="first_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="last_name" class="col-2 col-form-label">Last Name:</label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.last_name %>" name="last_name" id="last_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="street_address" class="col-2 col-form-label">Street Address: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.street_address %>" name="street_address" id="street_address">
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-2 col-form-label">City/Town: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.city %>" name="city" id="city">
      </div>
    </div>
    <div class="form-group row">
      <label for="state" class="col-2 col-form-label">State: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.state %>" name="state" id="state">
      </div>
    </div>
    <div class="form-group row">
      <label for="zipcode" class="col-2 col-form-label">Zip Code: </label>
      <div class="col-10">
        <input class="form-control" type="text" value="<%= @current_user.zipcode %>" name="zipcode" id="zipcode">
      </div>
    </div>
    <p>All fields required.</p>
    <div class="text-center">
      <input type="submit" value="Update" class="btn btn-success"></input>
      <input class="btn btn-danger" href="/users/<%= @current_user.id %>" value="Cancel"></input>
    </div>
  </form>

</div>
