<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email_address %></p>
<p><%= @user.password_digest %></p>
<p><%= @user.street_address %></p>
<p><%= @user.city %></p>
<p><%= @user.state  %></p>
<p><%= @user.zipcode %></p>
<a href="/users/<%= @user.id %>/edit">Update Profile</a>
