<img src="<%= @map_string %>">
<% letter = 'A' %>
<% @nearby_yawdsales.each do |yawdsale| %>
  <% if yawdsale.end_time > DateTime.now %>
    <h4><%= letter %> <%= yawdsale.title if yawdsale.title %></h4>
    <p><%= yawdsale.address if yawdsale.address %></p>
    <p>Begins: <%= yawdsale.start_time.strftime("%A, %B %d, %Y - %I:%M%P") if yawdsale.start_time %></p>
    <p>Ends: <%= yawdsale.end_time.strftime("%A, %B %d, %Y - %I:%M%P") if yawdsale.end_time %></p>'
    <a href="/yawdsales/<%= yawdsale.id %>">View</a>
    <% if @current_user == @user %>
      <a href="/yawdsales/<%= yawdsale.id %>/edit">Update Yawdsale</a>
      <br><br>
    <% end %>
    <% letter = letter.next %>
  <% end %>
<% end %>
